*, *:before, *:after { box-sizing: border-box; }

.container { display: block; margin: 0 auto; padding: 0 15px; width: 100%; }

@media (min-width: 768px) { .container { max-width: 780px; } }

@media (min-width: 992px) { .container { max-width: 1000px; } }

@media (min-width: 1200px) { .container { max-width: 1200px; } }

.container-fluid { display: block; margin: 0 auto; padding: 0 15px; width: 100%; }

.row { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: -15px; }

.row + .row { margin-top: 15px; }

.row::after { content: ' '; display: table; clear: both; }

.col { padding: 0 15px; margin: 15px 0; width: 100%; float: left; }

@media (min-width: 768px) { .col--auto { -ms-flex: 1 1 auto; flex: 1 1 auto; width: auto; } }

.col--1 { width: 8.33333%; }

.col--2 { width: 16.66667%; }

.col--3 { width: 25%; }

.col--4 { width: 33.33333%; }

.col--5 { width: 41.66667%; }

.col--6 { width: 50%; }

.col--7 { width: 58.33333%; }

.col--8 { width: 66.66667%; }

.col--9 { width: 75%; }

.col--10 { width: 83.33333%; }

.col--11 { width: 91.66667%; }

.col--12 { width: 100%; }

@media (min-width: 768px) { .col--1-small { width: 8.33333%; } }

@media (min-width: 768px) { .col--2-small { width: 16.66667%; } }

@media (min-width: 768px) { .col--3-small { width: 25%; } }

@media (min-width: 768px) { .col--4-small { width: 33.33333%; } }

@media (min-width: 768px) { .col--5-small { width: 41.66667%; } }

@media (min-width: 768px) { .col--6-small { width: 50%; } }

@media (min-width: 768px) { .col--7-small { width: 58.33333%; } }

@media (min-width: 768px) { .col--8-small { width: 66.66667%; } }

@media (min-width: 768px) { .col--9-small { width: 75%; } }

@media (min-width: 768px) { .col--10-small { width: 83.33333%; } }

@media (min-width: 768px) { .col--11-small { width: 91.66667%; } }

@media (min-width: 768px) { .col--12-small { width: 100%; } }

@media (min-width: 992px) { .col--1-medium { width: 8.33333%; } }

@media (min-width: 992px) { .col--2-medium { width: 16.66667%; } }

@media (min-width: 992px) { .col--3-medium { width: 25%; } }

@media (min-width: 992px) { .col--4-medium { width: 33.33333%; } }

@media (min-width: 992px) { .col--5-medium { width: 41.66667%; } }

@media (min-width: 992px) { .col--6-medium { width: 50%; } }

@media (min-width: 992px) { .col--7-medium { width: 58.33333%; } }

@media (min-width: 992px) { .col--8-medium { width: 66.66667%; } }

@media (min-width: 992px) { .col--9-medium { width: 75%; } }

@media (min-width: 992px) { .col--10-medium { width: 83.33333%; } }

@media (min-width: 992px) { .col--11-medium { width: 91.66667%; } }

@media (min-width: 992px) { .col--12-medium { width: 100%; } }

@media (min-width: 1200px) { .col--1-large { width: 8.33333%; } }

@media (min-width: 1200px) { .col--2-large { width: 16.66667%; } }

@media (min-width: 1200px) { .col--3-large { width: 25%; } }

@media (min-width: 1200px) { .col--4-large { width: 33.33333%; } }

@media (min-width: 1200px) { .col--5-large { width: 41.66667%; } }

@media (min-width: 1200px) { .col--6-large { width: 50%; } }

@media (min-width: 1200px) { .col--7-large { width: 58.33333%; } }

@media (min-width: 1200px) { .col--8-large { width: 66.66667%; } }

@media (min-width: 1200px) { .col--9-large { width: 75%; } }

@media (min-width: 1200px) { .col--10-large { width: 83.33333%; } }

@media (min-width: 1200px) { .col--11-large { width: 91.66667%; } }

@media (min-width: 1200px) { .col--12-large { width: 100%; } }

.col--1 { width: 100%; }

.col--1\/2 { width: 50%; }

.col--1\/3 { width: 33.33333%; }

.col--2\/3 { width: 66.66667%; }

.col--1\/4 { width: 25%; }

.col--2\/4 { width: 50%; }

.col--3\/4 { width: 75%; }

.col--1\/5 { width: 20%; }

.col--2\/5 { width: 40%; }

.col--3\/5 { width: 60%; }

.col--4\/5 { width: 80%; }

@media (min-width: 768px) { .col--1-small { width: 100%; } }

@media (min-width: 768px) { .col--1\/2-small { width: 50%; } }

@media (min-width: 768px) { .col--1\/3-small { width: 33.33333%; } }

@media (min-width: 768px) { .col--2\/3-small { width: 66.66667%; } }

@media (min-width: 768px) { .col--1\/4-small { width: 25%; } }

@media (min-width: 768px) { .col--2\/4-small { width: 50%; } }

@media (min-width: 768px) { .col--3\/4-small { width: 75%; } }

@media (min-width: 768px) { .col--1\/5-small { width: 20%; } }

@media (min-width: 768px) { .col--2\/5-small { width: 40%; } }

@media (min-width: 768px) { .col--3\/5-small { width: 60%; } }

@media (min-width: 768px) { .col--4\/5-small { width: 80%; } }

@media (min-width: 992px) { .col--1-medium { width: 100%; } }

@media (min-width: 992px) { .col--1\/2-medium { width: 50%; } }

@media (min-width: 992px) { .col--1\/3-medium { width: 33.33333%; } }

@media (min-width: 992px) { .col--2\/3-medium { width: 66.66667%; } }

@media (min-width: 992px) { .col--1\/4-medium { width: 25%; } }

@media (min-width: 992px) { .col--2\/4-medium { width: 50%; } }

@media (min-width: 992px) { .col--3\/4-medium { width: 75%; } }

@media (min-width: 992px) { .col--1\/5-medium { width: 20%; } }

@media (min-width: 992px) { .col--2\/5-medium { width: 40%; } }

@media (min-width: 992px) { .col--3\/5-medium { width: 60%; } }

@media (min-width: 992px) { .col--4\/5-medium { width: 80%; } }

@media (min-width: 1200px) { .col--1-large { width: 100%; } }

@media (min-width: 1200px) { .col--1\/2-large { width: 50%; } }

@media (min-width: 1200px) { .col--1\/3-large { width: 33.33333%; } }

@media (min-width: 1200px) { .col--2\/3-large { width: 66.66667%; } }

@media (min-width: 1200px) { .col--1\/4-large { width: 25%; } }

@media (min-width: 1200px) { .col--2\/4-large { width: 50%; } }

@media (min-width: 1200px) { .col--3\/4-large { width: 75%; } }

@media (min-width: 1200px) { .col--1\/5-large { width: 20%; } }

@media (min-width: 1200px) { .col--2\/5-large { width: 40%; } }

@media (min-width: 1200px) { .col--3\/5-large { width: 60%; } }

@media (min-width: 1200px) { .col--4\/5-large { width: 80%; } }

.row--align-left { -ms-flex-pack: start; justify-content: flex-start; }

@media (min-width: 768px) { .row--align-left-small { -ms-flex-pack: start; justify-content: flex-start; } }

@media (min-width: 992px) { .row--align-left-medium { -ms-flex-pack: start; justify-content: flex-start; } }

@media (min-width: 1200px) { .row--align-left-large { -ms-flex-pack: start; justify-content: flex-start; } }

.row--align-right { -ms-flex-pack: end; justify-content: flex-end; }

@media (min-width: 768px) { .row--align-right-small { -ms-flex-pack: end; justify-content: flex-end; } }

@media (min-width: 992px) { .row--align-right-medium { -ms-flex-pack: end; justify-content: flex-end; } }

@media (min-width: 1200px) { .row--align-right-large { -ms-flex-pack: end; justify-content: flex-end; } }

.row--align-center { -ms-flex-pack: center; justify-content: center; }

@media (min-width: 768px) { .row--align-center-small { -ms-flex-pack: center; justify-content: center; } }

@media (min-width: 992px) { .row--align-center-medium { -ms-flex-pack: center; justify-content: center; } }

@media (min-width: 1200px) { .row--align-center-large { -ms-flex-pack: center; justify-content: center; } }

.row--align-top { -ms-flex-align: start; align-items: flex-start; }

@media (min-width: 768px) { .row--align-top-small { -ms-flex-align: start; align-items: flex-start; } }

@media (min-width: 992px) { .row--align-top-medium { -ms-flex-align: start; align-items: flex-start; } }

@media (min-width: 1200px) { .row--align-top-large { -ms-flex-align: start; align-items: flex-start; } }

.row--align-bottom { -ms-flex-align: end; align-items: flex-end; }

@media (min-width: 768px) { .row--align-bottom-small { -ms-flex-align: end; align-items: flex-end; } }

@media (min-width: 992px) { .row--align-bottom-medium { -ms-flex-align: end; align-items: flex-end; } }

@media (min-width: 1200px) { .row--align-bottom-large { -ms-flex-align: end; align-items: flex-end; } }

.row--align-middle { -ms-flex-align: center; align-items: center; }

@media (min-width: 768px) { .row--align-middle-small { -ms-flex-align: center; align-items: center; } }

@media (min-width: 992px) { .row--align-middle-medium { -ms-flex-align: center; align-items: center; } }

@media (min-width: 1200px) { .row--align-middle-large { -ms-flex-align: center; align-items: center; } }

.col--align-top { -ms-flex-item-align: start; align-self: flex-start; }

@media (min-width: 768px) { .col--align-top-small { -ms-flex-item-align: start; align-self: flex-start; } }

@media (min-width: 992px) { .col--align-top-medium { -ms-flex-item-align: start; align-self: flex-start; } }

@media (min-width: 1200px) { .col--align-top-large { -ms-flex-item-align: start; align-self: flex-start; } }

.col--align-bottom { -ms-flex-item-align: end; align-self: flex-end; }

@media (min-width: 768px) { .col--align-bottom-small { -ms-flex-item-align: end; align-self: flex-end; } }

@media (min-width: 992px) { .col--align-bottom-medium { -ms-flex-item-align: end; align-self: flex-end; } }

@media (min-width: 1200px) { .col--align-bottom-large { -ms-flex-item-align: end; align-self: flex-end; } }

.col--align-middle { -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center; }

@media (min-width: 768px) { .col--align-middle-small { -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center; } }

@media (min-width: 992px) { .col--align-middle-medium { -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center; } }

@media (min-width: 1200px) { .col--align-middle-large { -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center; } }
