// ------------------------------------
// Variables
// ------------------------------------

// Number of Columns
$columns: 12 !default;
$column-gutter: 20px !default;
$column-fraction-denominators: (1, 2, 3, 4, 5) !default;

// Formatting of classes
$grid-in-fractions: true;
$grid-in-columns: true;

// Container widths
$container-width-large: 1170px !default;
$container-width-medium: 970px !default;
$container-width-small: 750px !default;

// Breakpoints
$screen-large: 1200px !default;
$screen-medium: 992px !default;
$screen-small: 768px !default;

// Names
$container: 'container' !default;
$cell-wrapper: 'row' !default;
$cell-prefix: 'col' !default;

// ------------------------------------
// Mixins
// ------------------------------------

// Generate the different container sizes at various break points
// Usage:
//    @import generate-container ( <Nested List Of (breakpoint-size, container-size)> )
// Example:
//    @import generate-container ( (1200px, 1170px), (768px, 750px) )
@mixin generate-container ($breakpoints) {
  @each $bp-size, $container-size in $breakpoints {
    @media (min-width: $bp-size) {
      max-width: $container-size + ($column-gutter * 2);
    }
  }
}

// Cell Size Mixin
@mixin generate-cols ($columns, $breakpoints) {
  @for $i from 1 through $columns {
    .#{$cell-prefix}--#{$i} {
      width: $i / $columns * 100%;
    }

    @each $bp-size, $name in $breakpoints {
      .#{$cell-prefix}--#{$i}-#{$name} {
        @media (min-width: $bp-size) {
          width: $i / $columns * 100%;
        }
      }
    }
  }
}

@mixin col-class-name($numerator, $denominator, $breakpoints) {
  $fraction: #{$numerator}\/#{$denominator};
  $width: percentage($numerator/$denominator);

  @if ($numerator == $denominator) {
    $fraction: 1
  }

  .#{$cell-prefix}--#{$fraction} {
    width: $width;
  }

  @each $bp-size, $name in $breakpoints {
    .#{$cell-prefix}--#{$fraction}-#{$name} {
      @media (min-width: $bp-size) {
        width: $width;
      }
    }
  }
}

// Cell Size Mixin
@mixin generate-cols-fractions ($breakpoints) {
  @each $denominator in $column-fraction-denominators {
    @if $denominator == 1 {
      @include col-class-name(1, 1, $breakpoints);
    }

    @else {
      @for $i from 1 through ($denominator - 1) {
        @include col-class-name($i, $denominator, $breakpoints);
      }
    }
  }
}

// Grid Alignment Mixin
@mixin row-alignment ($position, $breakpoints) {
  .row--align-#{$position} {
    @content;
  }

  @each $bp-size, $name in $breakpoints {
    .row--align-#{$position}-#{$name} {
      @media (min-width: $bp-size) {
        @content;
      }
    }
  }
}

// Cell Alignment Mixin
@mixin col-alignment ($position, $breakpoints) {
  .#{$cell-prefix}--align-#{$position} {
    @content;
  }
  @each $bp-size, $name in $breakpoints {
    .#{$cell-prefix}--align-#{$position}-#{$name} {
      @media (min-width: $bp-size) {
        @content;
      }
    }
  }
}


// ------------------------------------
// CSS
// ------------------------------------
.#{$container} {
  display: block;
  margin: 0 auto;
  padding: 0 $column-gutter;
  width: 100%;

  @include generate-container ((
    ($screen-small, $container-width-small),
    ($screen-medium, $container-width-medium),
    ($screen-large, $container-width-large),
  ));
}

.#{$cell-wrapper} {
  display: flex;
  flex-wrap: wrap;
  margin: 0 (-$column-gutter);

  &::before,
  &::after {
    content: ' ';
    display: table;
  }

  &::after {
    clear: both;
  }
}

.#{$cell-prefix} {
  padding: 0 $column-gutter;
  width: 100%;
  float: left;
}

.#{$cell-prefix}--auto {
  @media (min-width: $screen-small) {
    flex: 1 1 auto;
    width: auto;
  }
}

// Generate the cell sizings for different breakpoints
@if ($grid-in-columns) {
  @include generate-cols($columns, (
    ($screen-small, 'small'),
    ($screen-medium, 'medium'),
    ($screen-large, 'large'),)
  );
}

@if ($grid-in-fractions) {
  @include generate-cols-fractions((
    ($screen-small, 'small'),
    ($screen-medium, 'medium'),
    ($screen-large, 'large'),)
  );
}

// Row Horizontal Alignment
@include row-alignment('left', (
  ($screen-small, 'small'),
  ($screen-medium, 'medium'),
  ($screen-large, 'large'),)
) {
  justify-content: flex-start;
}

@include row-alignment('right', (
  ($screen-small, 'small'),
  ($screen-medium, 'medium'),
  ($screen-large, 'large'),)
) {
  justify-content: flex-end;
}

@include row-alignment('center', (
  ($screen-small, 'small'),
  ($screen-medium, 'medium'),
  ($screen-large, 'large'),)
) {
  justify-content: center;
}

// Row Vertical Alignment
@include row-alignment('top', (
  ($screen-small, 'small'),
  ($screen-medium, 'medium'),
  ($screen-large, 'large'),)
) {
  align-items: flex-start;
}

@include row-alignment('bottom', (
  ($screen-small, 'small'),
  ($screen-medium, 'medium'),
  ($screen-large, 'large'),)
) {
  align-items: flex-end;
}

@include row-alignment('middle', (
  ($screen-small, 'small'),
  ($screen-medium, 'medium'),
  ($screen-large, 'large'),)
) {
  align-items: center;
}

// Column Vertical Alignment
@include col-alignment('top', (
  ($screen-small, 'small'),
  ($screen-medium, 'medium'),
  ($screen-large, 'large'),)
) {
  align-self: flex-start;
}

@include col-alignment('bottom', (
  ($screen-small, 'small'),
  ($screen-medium, 'medium'),
  ($screen-large, 'large'),)
) {
  align-self: flex-end;
}

@include col-alignment('middle', (
  ($screen-small, 'small'),
  ($screen-medium, 'medium'),
  ($screen-large, 'large'),)
) {
  align-self: center;
}
